{% extends "base.html" %}
{% block content %}
{% import "macros/alerts.html" as alerts %}


<h1>Tervetuloa Kirjalistaan!</h1>
{% if (not is_user) and (not is_admin) %}
<p>
    Luodaksesi ja tarkastellaksesi omaa listaasi
    <a href="http://mclantta.users.cs.helsinki.fi/tsohaa/login"><button type="button" style="color:black">Kirjaudu</button></a>
    tai <a href="http://mclantta.users.cs.helsinki.fi/tsohaa/signin"><button type="button" style="color:black">Rekisteröidy</button></a>.
</p>
{% endif %}

{{alerts.message_success("#{message}")}}

{% if is_admin %}
<div class="alert alert-info">

    <p>Olet kirjautunut admin-käyttäjänä. Voit muokata ja poistaa kirjoja niiden esittelysivuilla, jonne pääset klikkaamalla kirjan nimeä.</p>

</div>

<form action="{{base_path}}/allbooks/new" style="display: inline-block;">
    <button type="submit" class="btn btn-success">Lisää kirja tietokantaan</button>
</form>

{% endif %}


<h3>Oletko jo lukenut nämä?</h3>
<p>Tai tarkastele koko listaa: <a href="http://mclantta.users.cs.helsinki.fi/tsohaa/allbooks">Kaikki kirjat</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kirjailija</th>
            <th>1.painoksen julkaisuvuosi</th>
            <th>Sivumäärä</th>
        </tr>
    </thead>

    <tbody>
        {% for book in books %}
        <tr>
            <td><a href="{{base_path}}/allbooks/{{book.id}}">{{book.name}}</a></td>
            <td>{{book.author}}</td>
            <td>{{book.publishyear}}</td>
            <td>{{book.pages}}</td> 
        </tr>
        {% endfor %}
    </tbody>  
</table>
{% endblock %}