{% extends "base.html" %}
{% block content %}
{% import "macros/alerts.html" as alerts %}

{{alerts.message_success("#{message}")}}

<h1>Kaikki tietokannan kirjat</h1>

{% if is_admin %}
<form action="{{base_path}}/allbooks/new" style="display: inline-block;">
    <button type="submit" class="btn btn-success">Lisää kirja tietokantaan</button>
</form>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kirjailija</th>
            <th>1.painoksen julkaisuvuosi</th>
            <th>Sivumäärä</th>
        </tr>
    </thead>
    
    <tbody>
        {%for book in books%}
        <tr>
            <td><a href="{{base_path}}/allbooks/{{book.id}}">{{book.name}}</a></td>
            <td>{{book.author}}</td>
            <td>{{book.publishyear}}</td>
            <td>{{book.pages}}</td> 
        </tr>
        {% endfor %}
    </tbody>  
</table>
{% endblock %}