{% extends "base.html" %}
{% block content %}
{% import "macros/alerts.html" as alerts %}

<h1>Muokkaa kirjaa: {{attributes.name}}</h1>

{{alerts.message_failure("#{errors}")}}

<form method="post" action="{{base_path}}/allbooks/{{attributes.id}}/edit">
    <div class="form-group">
        <label>Nimi</label>
        <input name="name" class="form-control" value="{{attributes.name}}" type="text">
    </div>
    <div class="form-group">
        <label>Kirjailija</label>
        <input name="author" class="form-control" value="{{attributes.author}}" type="text">
    </div>
    <div class="form-group">
        <label>Julkaisuvuosi</label>
        <input name="publishyear" class="form-control" value="{{attributes.publishyear}}" type="text">
    </div>
    <div class="form-group">
        <label>Sivumäärä</label>
        <input name="pages" class="form-control" value="{{attributes.pages}}" type="text">
    </div>
    <div class="form-group">
        <label>Esittely</label>
        <textarea name="description" class="form-control" rows="3">{{attributes.description}}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info">Lähetä</button>
    </div>

</form>
{% endblock %}