{% extends "base.html" %}
{% block content %}
{% import "macros/alerts.html" as alerts %}

{% if message is null %}
<h1>Tervetuloa Kirjalistaan</h1>

<p>
    Luodaksesi ja tarkastellaksesi omaa listaasi
    <a href="http://mclantta.users.cs.helsinki.fi/tsohaa/login"><button type="button" style="color:black">Kirjaudu</button></a>
    tai <a href="http://mclantta.users.cs.helsinki.fi/tsohaa/signin"><button type="button" style="color:black">Rekisteröidy</button></a>.
</p>
{% endif %}

{{alerts.message_success("#{message}")}}

<h3>Oletko jo lukenut nämä?</h3>
<p>Tai tarkastele koko listaa: <a href="http://mclantta.users.cs.helsinki.fi/tsohaa/allbooks">Kaikki kirjat</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kirjailija</th>
            <th>1.painoksen julkaisuvuosi</th>
            <th>Sivumäärä</th>
        </tr>
    </thead>

    <tbody>
        {% for book in books %}
        <tr>
            <td><a href="{{base_path}}/allbooks/{{book.id}}">{{book.name}}</a></td>
            <td>{{book.author}}</td>
            <td>{{book.publishyear}}</td>
            <td>{{book.pages}}</td> 
        </tr>
        {% endfor %}
    </tbody>  
</table>
{% endblock %}