{% extends "base.html" %}
{% block content %}
<h1>Ylpeys ja ennakkoluulo</h1>
<p>
    <button class="btn btn-danger btn-sm">Poista omalta listalta</button> <button class="btn btn-default btn-sm">Muokkaa</button>
</p>

<ul>
    <li><strong>Kirjailija:</strong> Jane Austen</li>
    <li><strong>1. painoksen julkaisu:</strong> 1800</li>
    <li><strong>Sivumäärä:</strong> 350</li>
    <li><strong>Status: </strong> <label class="label label-success">valmis</label> 1.1.2016</li>
</ul>
<p><strong>Esittely:</strong>
    Ylpeys ja ennakkoluulo on aikansa klassikko.  
</p>
<p><strong>Lukijan omia huomioita:</strong>
    Todella hyvä kirja. :)
</p>
{% endblock %}