{% extends "base.html" %}
{% block content %}

<h1>Muokkaa omia tietoja: Ylpeys ja ennakkoluulo</h1>
<hr>

<form class="form-horizontal">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Tila</label>
                <div class="radio">
                    <label class="control-label">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                        Luettu
                    </label>
                </div>
                <div class="radio">
                    <label class="control-label">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Kesken
                    </label>
                </div>
                <div class="radio">
                    <label class="control-label">
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                        Kiinnostunut
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="col-md-4 control-label">Lukukerrat</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="read_year" value="20">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-5 control-label">Luettu vuonna</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="read_year" value="2000">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label">Sivulla</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="at_page" min="0" value="100">
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}