{% extends "base.html" %}
{% block content %}
<h1>Käyttäjän Miisa kirjalista</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kirjailija</th>
            <th>Status</th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td><a href="#">Ylpeys ja ennakkoluulo</a></td>
            <td>Jane Austen</td>
            <td><label class="label label-success">valmis</label></td>
            <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
        </tr>
    </tbody>
</table>
{% endblock %}