{% extends "base.html" %}
{% block content %}


<h1>Käyttäjän {{reader.name}} luetut kirjat</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kirjailija</th>
            <th>1.painoksen julkaisuvuosi</th>
            <th>Sivumäärä</th>
        </tr>
    </thead>
    
    <tbody>
        {%for book in books%}
        <tr>
            <td><a href="{{base_path}}/allbooks/{{book.id}}">{{book.name}}</a></td>
            <td>{{book.author}}</td>
            <td>{{book.publishyear}}</td>
            <td>{{book.pages}}</td> 
        </tr>
        {% endfor %}
    </tbody>  
</table>
{% endblock %}